@import "./fonts.css";
@import "./font-awesome-5.css";
@import "./common/variable";
@import "./common/common";
@import "./common/header";

.box-rotation {
    margin-bottom: 10px;

    .img-rotation {
        width: 500px;
    }
}

.rotation-section {
    .number-roll {
        span {
            font-size: 22px;
            font-weight: 700;
            color: $color_main;
        }
    }
}
.form-rotation {
    max-width: 500px;
    margin: 0 auto;

    .list-btn {
        display: flex;
        flex: 1;
        column-gap: 12px;
    }
    .btn-main {
        width: 100%;
    }
}

.modal-award {
    text-align: center;

    p {
        color: #666666;
    }
    .award {
        color: #ff9800;
        font-weight: 700;
        font-size: 32px;
        margin-bottom: 5px;
    }
}

.section-rules {
    .desc-rules {
        margin-bottom: 16px;
    }

    .note-rules {
        color: #9055fd;
        background-color: #f4eeff;
        border-radius: 8px;
        padding: 8px 15px;
        margin-bottom: 16px;
    }
}

.table-result {
    border: 1px solid #ebebf0;
    border-radius: 8px;

    thead {
        tr {
            th {
                background-color: #ebebf0;
            }
        }
    }

    tbody {
        tr {
            &:nth-child(2n + 2) {
                td {
                    background-color: #fafafa;
                }
            }
        }
    }
}
