*,
::after,
::before {
    box-sizing: border-box;
}

body {
    position: relative;
    font-size: 16px;
    font-family: $font_main;
    line-height: 1.3;
    color: $color_text;

    @include Responsive(XS) {
        line-height: 1.3;
        font-size: 14px;
    }
    @include Responsive(SM) {
        font-size: 15px;
    }
    @include Responsive(LG) {
        font-size: 16px;
    }

    &::before {
        z-index: -1;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        content: "";
        height: 100vh;
        background: rgb(76, 175, 80);
        background: linear-gradient(
            rgba(76, 175, 80, 1) 0%,
            rgba(76, 175, 80, 1) 20%,
            rgba(76, 175, 80, 0.8) 30%,
            rgba(255, 255, 255, 0) 70%,
            rgba(255, 255, 255, 0) 100%
        );
    }
}

main {
    min-height: 250px;
    margin-bottom: 30px;
}

a {
    text-decoration: none;

    &:hover {
        color: $color_main;
    }
}

input:focus,
textarea:focus,
select:focus,
button:focus {
    border-color: rgba(255, 178, 0, 0.6) !important;
    outline: 0;
    -webkit-box-shadow:
        inset 0 1px 1px rgba(0, 0, 0, 0.075),
        0 0 1px rgba(242, 126, 127, 0.6) !important;
    box-shadow:
        inset 0 1px 1px rgba(0, 0, 0, 0.075),
        0 0 1px rgba(242, 126, 127, 0.6) !important;
}

select {
    -webkit-appearance: none;
    -moz-appearance: none;
    -webkit-border-radius: 0px;
    background-image: url("../../images/icons/i-select.svg") !important;
    background-position: calc(100% - 8px) 50%;
    background-repeat: no-repeat;
    background-size: 8px !important;
    padding-left: 10px;
    padding-right: 18px !important;
}

img {
    max-width: 100%;
}

ul {
    list-style: none;
    padding-left: 0;
    margin-bottom: 0;
}

hr {
    margin: 1rem 0;
    color: inherit;
    border: 0;
    border-top: 1px solid;
    border-color: #878787;
    opacity: 0.25;

    @include Responsive(MOBILE) {
        margin: 0.9rem 0;
    }
}

// .container {
//     padding-left: 15px;
//     padding-right: 15px;

//     @include Responsive(XXL) {
//         max-width: 1230px;
//     }
// }

// .row > * {
//     padding-right: 15px;
//     padding-left: 15px;
// }

section {
    overflow: hidden;
}

.padding-section {
    padding: 5.6rem 0;
    @include Responsive(IPAD) {
        padding: 4.5rem 0;
    }
    @include Responsive(MOBILE) {
        padding: 3.6rem 0;
    }
}

.bg-gray {
    background-color: $bg_gray;
}

.show-desktop {
    display: none;
    @include Responsive(MD) {
        display: block;
    }
}

.show-mobile {
    display: block;
    @include Responsive(MD) {
        display: none;
    }
}

.iframe-video {
    position: relative;
    padding-bottom: 56.25%;

    iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
}

.box-title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;

    .title-main {
        &.text-center {
            margin: 0 auto;
        }
    }

    .box-right {
        &a {
            color: #03a9f4;
        }
    }

    .link {
        margin-right: 12px;
        i {
            color: $color_text;
            font-size: 1.1rem;
        }
    }
}

.title-main {
    @include font_22;
    font-weight: 700;
    color: $color_text;

    @include Responsive(MOBILE) {
        margin-bottom: 16px;
    }

    &.color-main {
        color: $color_main;
    }
}

.box-content-line {
    position: relative;

    &::before {
        @include Responsive(XL) {
            position: absolute;
            content: "";
            top: 0.5rem;
            left: 0;
            width: 4.84rem;
            height: 1px;
            background-color: #000;
        }
    }

    .box-content {
        @include Responsive(XL) {
            padding-left: 6.4rem;
            text-align: justify;

            .t-box-editor {
                @include Responsive(LG) {
                    margin-bottom: 2.78rem;
                }
            }
        }
    }
}

.btn-main {
    display: flex;
    align-items: center;
    justify-content: center;
    width: max-content;
    background-color: $color_main;
    color: #fff;
    font-weight: 600;
    transition: all 0.3s;
    padding: 10px 30px;
    border-radius: 4px;
    border: 0;

    &:hover {
        color: #fff;
        box-shadow: 1px 1px 4px 1px rgba(0, 0, 0, 0.3);
    }

    &.btn-gray {
        background-color: #f5f5fa;
        color: $color_text;

        &:hover {
            background-color: $color_main;
            color: #fff;
        }
    }
}

// Css Box image
.box-img-flex {
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}
.box-img-flex.y-img-left {
    justify-content: flex-start;
}
.box-img-flex img {
    width: auto !important;
    height: auto;
    max-width: 100%;
    max-height: 100%;
}

.t-box-img {
    position: relative;
    display: block;
    width: 100%;
    padding-bottom: 100%;
    overflow: hidden;
}
.t-box-img .link {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
}
.t-box-img img {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    max-width: 100%;
    max-height: 100%;
    width: auto !important;
    height: auto !important;
}

input[type="date"]::-webkit-calendar-picker-indicator {
    background: transparent;
    bottom: 0;
    color: transparent;
    cursor: pointer;
    height: auto;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    width: auto;
}

.form-main {
    .form-group {
        margin-bottom: 16px;
    }

    label {
        color: #808089;
    }

    .form-control {
        height: 52px;
    }

    .back-home {
        font-size: 0.9rem;
        color: $color_text;

        &:hover {
            text-decoration: underline;
        }
    }
}

// Owl Slider
.modal {
    .modal-header {
        @include Responsive(MOBILE) {
            padding: 10px 16px;
        }
    }

    .style-nav-slider {
        .owl-nav {
            button.owl-prev,
            button.owl-next {
                width: 1.8rem;
                height: 1.8rem;
            }

            .owl-prev {
                left: -0.9rem;

                span {
                    padding-right: 1px;
                }
            }

            .owl-next {
                right: -0.9rem;
                span {
                    padding-left: 1px;
                }
            }
        }
    }
}

// Nav Slider
.style-nav-slider {
    &.style-nav-slider-2 {
        .owl-nav {
            .owl-prev,
            .owl-next {
                top: 44%;
            }
        }
    }

    .owl-nav {
        button.owl-prev,
        button.owl-next {
            position: absolute;
            top: 50%;
            width: 2.94rem;
            height: 2.94rem;
            transform: translateY(-50%);

            display: flex;
            align-items: center;
            justify-content: center;
            background-color: #fff;
            border-radius: 100%;
            box-shadow: 0px 0px 0px 1px #c9c9c9;

            @include Responsive(MOBILE) {
                width: 2.4rem;
                height: 2.4rem;
            }

            &:hover {
                background-color: rgba(255, 255, 255, 1);
            }

            i {
                font-size: 11px;
                @include Responsive(MOBILE) {
                    font-size: 9px;
                }
            }

            span {
                display: flex;
                align-items: center;
                justify-content: center;
            }
        }

        .owl-prev {
            left: -1.4rem;
        }

        .owl-next {
            right: -1.4rem;

            i {
                transform: rotate(180deg);
            }
        }
    }
}

.style-dots-slider {
    .owl-dots {
        display: flex;
        justify-content: center;
        column-gap: 4px;
        margin-top: 2.5rem;

        .owl-dot {
            width: 3rem;
            height: 4px;
            background-color: rgba(0, 0, 0, 0.3) !important;
            border-radius: 4px;

            &.active {
                background-color: #000 !important;
            }
        }
    }
}

.t-text-editor,
.t-box-editor {
    * {
        // max-width: 100%;
    }

    h1 {
        @include font_72;
    }
    h2 {
        @include font_64;
    }
    h3 {
        @include font_48;
    }
    h4 {
        @include font_34;
    }
    h5 {
        @include font_24;
    }
    h6 {
        @include font_18;
    }

    blockquote {
        margin: 0 0 1.25em;
        padding: 0 1.25em 0 1.875em;
        border-left: 2px solid #111;
        font-style: italic;
    }

    p {
        margin-bottom: 10px;
    }
    img {
        max-width: 100%;
        height: auto !important;
    }
    iframe {
        max-width: 100%;
    }

    .box-iframe {
        position: relative;
        height: 0;
        overflow: hidden;
        padding-bottom: 26.2%;
        padding-top: 30%;

        iframe {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
        }
    }

    table {
        width: 100%;
    }

    i {
        font-style: italic;
    }

    u {
        text-decoration: underline;
    }

    a {
        text-decoration: underline;
    }

    b,
    strong {
        font-weight: bold;
    }
    ul {
        padding-left: 30px;
        list-style-type: disc;

        li {
            display: list-item;
            list-style-type: disc;
        }
    }

    ol {
        padding-left: 30px;
        list-style-type: decimal;

        li {
            display: list-item;
            list-style-type: decimal;
        }
    }

    blockquote {
        border-left: 5px solid #000;
    }

    figure.image {
        figcaption {
            text-align: center;
            margin-top: 5px;
            font-size: 0.9rem;
            font-style: italic;
        }
    }
}

.box-border {
    box-shadow: 0 2px 12px rgba(35, 17, 69, 0.15);
    border-radius: 16px;
    // padding: 24px 20px;
    padding: 20px 16px;
    background-color: #fff;
}

.box-800 {
    max-width: 800px;
    margin: 0 auto;
}

.modal-main {
    .modal-header {
        position: relative;
        border: 0;
        padding-bottom: 0;

        .modal-title {
            margin: 0 auto;
        }

        .btn-close {
            position: absolute;
            top: 20px;
            right: 18px;
        }
    }

    .modal-footer {
        border: 0;
        padding-top: 0;
        padding-bottom: 20px;

        .list-btn {
            display: flex;
            flex: 1;
            column-gap: 12px;
            .btn-main {
                flex: 1;
            }
        }
    }
}

.t-pagination {
    margin-top: 16px;

    ul {
        display: flex;
        justify-content: center;
        margin: 0;

        li {
            display: flex;
            align-items: center;
            list-style: none;

            &.active > a,
            &.active > a:focus,
            &.active > a:hover {
                background-color: $color_main;
                border-color: $color_main;
                color: #fff;
                z-index: 2;
            }

            &:last-child > a {
                border-right: 1px solid #ddd;
            }

            &.prev,
            &.next {
                a {
                    padding-left: 15px;
                    padding-right: 15px;
                }
            }
            &.prev {
                a {
                    border-radius: 8px 0 0 8px;
                }
            }
            &.next {
                a {
                    border-radius: 0 8px 8px 0;
                }
            }

            > a {
                position: relative;
                padding: 6px 12px;
                line-height: 1.4;
                color: #333;
                text-decoration: none;
                background-color: #fff;
                border: 1px solid #ddd;
                border-right: 0;

                &:focus,
                &:hover {
                    background-color: #eee;
                    border-color: #ddd;
                }
            }
        }
    }
}
