.footer {
    .box-footer {
        background-position: center;
        background-size: cover;
        padding: 2.7rem 0;

        .row {
            display: flex;
            align-items: center;
            justify-content: space-between;
        }
        .logo-footer {
            max-height: 164px;

            @include Responsive(LG) {
                justify-content: flex-start;
            }
        }

        .item-footer {
            @include Responsive(IPAD) {
                margin-bottom: 2rem;
            }
            @include Responsive(MOBILE) {
                margin-bottom: 1.5rem;
            }

            &:first-child {
                @include Responsive(IPAD) {
                    text-align: center;
                }
            }

            .list-item {
                &.list-contact {
                    @include Responsive(MOBILE) {
                        margin-bottom: 1.2rem;
                    }
                }

                .item {
                    display: flex;
                    align-items: flex-start;

                    margin-bottom: 0.8rem;
                    color: #203046;
                    @include Responsive(LG) {
                        min-height: 49px;
                    }

                    &:last-child {
                        @include Responsive(LG) {
                            min-height: auto;
                            margin-bottom: 0;
                        }
                    }

                    i {
                        font-size: 15px;
                        min-width: 20px;
                        padding-top: 3px;
                        text-align: center;
                        margin-right: 12px;
                        &::before {
                            font-size: 14px;
                        }
                    }
                }
            }
            .list-link {
                display: flex;
                flex-wrap: wrap;
                align-items: center;
                .item {
                    width: 100%;
                    &:hover {
                        color: $color_main;

                        span::before {
                            color: $color_main;
                        }
                    }
                }
            }
        }

        .map-footer {
            height: 266px;
            border-radius: 20px;
        }
    }

    .copyright {
        background: #000;
        text-align: center;
        color: #fff;
        padding: 1.6rem 15px;
    }
}
