.header {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 0;
    margin-bottom: 10px;

    .logo-header {
        .text {
            color: #fff;
            @include font_22;
            font-weight: 600;
        }
    }

    .menu-header {
        display: flex;
        align-items: center;
        justify-content: center;
        list-style: none;
        column-gap: 8px;
        z-index: 99;

        @include Responsive(MOBILE) {
            position: fixed;
            bottom: 0;
            left: 0;
            right: 0;
            content: "";
            background-color: $color_main;
            padding: 15px 0;
        }

        li {
            &.active {
                a {
                    background-color: #fff;
                    color: $color_main;
                }
            }

            a {
                height: 50px;
                background-color: #5eb761;
                border-radius: 6px;
                color: #fff;
                font-weight: 600;
                padding: 8px 28px;

                &:hover {
                    background-color: #fff;
                    color: $color_main;
                }
            }
        }
    }

    .user-header {
        img {
            border-radius: 50%;
            width: 50px;

            @include Responsive(MOBILE) {
                width: 40px;
            }
        }

        i {
            color: #fff;
            font-size: 22px;
        }
    }
}
