$color_main: #4caf50;
$color_text: #1d1b20;
$color_black: #000000;

$bg_green: #d2edd5;
$bg_blue: #e6f3ff;
$bg_red: #f8d7da;
$bg_gray: #f1f1f1;

$font_main: "Roboto";
$font_title: "Montserrat";

// Variables in Media queries
$X48: 480px;
$XS: 575px;
$SM: 576px;
$MD: 768px;
$LG: 992px;
$XL: 1200px;
$XXL: 1400px;
$X17: 1700px;
$X19: 1921px;

$IPAD: 991px;
$MOBILE: 767px;

// Media queries
@mixin Responsive($canvas) {
    @if $canvas == X48 {
        @media only screen and (max-width: $X48) {
            @content;
        }
    } @else if $canvas == XS {
        @media only screen and (max-width: $XS) {
            @content;
        }
    } @else if $canvas == SM {
        @media only screen and (min-width: $SM) {
            @content;
        }
    } @else if $canvas == MD {
        @media only screen and (min-width: $MD) {
            @content;
        }
    } @else if $canvas == LG {
        @media only screen and (min-width: $LG) {
            @content;
        }
    } @else if $canvas == XL {
        @media only screen and (min-width: $XL) {
            @content;
        }
    } @else if $canvas == XXL {
        @media only screen and (min-width: $XXL) {
            @content;
        }
    } @else if $canvas == X17 {
        @media only screen and (min-width: $X17) {
            @content;
        }
    } @else if $canvas == X19 {
        @media only screen and (min-width: $X19) {
            @content;
        }
    } @else if $canvas == IPAD {
        @media only screen and (max-width: $IPAD) {
            @content;
        }
    } @else if $canvas == MOBILE {
        @media only screen and (max-width: $MOBILE) {
            @content;
        }
    }
}

$mb20: 20px;
$mb24: 24px;
$mb30: 30px;
$mb32: 32px;
$mb40: 40px;
$mb48: 48px;
$mb80: 80px;
@mixin Margin($margins) {
    @if $margins == mb20 {
        margin-bottom: 20px;
        @include Responsive(X15) {
            margin-bottom: 19px;
        }
        @include Responsive(X13) {
            margin-bottom: 18px;
        }
        @include Responsive(LG) {
            margin-bottom: 17px;
        }
        @include Responsive(MD) {
            margin-bottom: 16px;
        }
        @include Responsive(SM) {
            margin-bottom: 15.5px;
        }
        @include Responsive(XS) {
            margin-bottom: 15px;
        }
    } @else if $margins == mb24 {
        margin-bottom: 24px;
        @include Responsive(X15) {
            margin-bottom: 23px;
        }
        @include Responsive(X13) {
            margin-bottom: 22px;
        }
        @include Responsive(LG) {
            margin-bottom: 21px;
        }
        @include Responsive(MD) {
            margin-bottom: 20px;
        }
        @include Responsive(SM) {
            margin-bottom: 18px;
        }
        @include Responsive(XS) {
            margin-bottom: 16px;
        }
    } @else if $margins == mb30 {
        margin-bottom: 30px;
        @include Responsive(X15) {
            margin-bottom: 28px;
        }
        @include Responsive(X13) {
            margin-bottom: 26px;
        }
        @include Responsive(LG) {
            margin-bottom: 24px;
        }
        @include Responsive(MD) {
            margin-bottom: 22px;
        }
        @include Responsive(SM) {
            margin-bottom: 20px;
        }
        @include Responsive(XS) {
            margin-bottom: 18px;
        }
    } @else if $margins == mb32 {
        margin-bottom: 32px;
        @include Responsive(X15) {
            margin-bottom: 30px;
        }
        @include Responsive(X13) {
            margin-bottom: 28px;
        }
        @include Responsive(LG) {
            margin-bottom: 26px;
        }
        @include Responsive(MD) {
            margin-bottom: 24px;
        }
        @include Responsive(SM) {
            margin-bottom: 22px;
        }
        @include Responsive(XS) {
            margin-bottom: 20px;
        }
    } @else if $margins == mb40 {
        margin-bottom: 40px;
        @include Responsive(X15) {
            margin-bottom: 38px;
        }
        @include Responsive(X13) {
            margin-bottom: 36px;
        }
        @include Responsive(LG) {
            margin-bottom: 32px;
        }
        @include Responsive(MD) {
            margin-bottom: 30px;
        }
        @include Responsive(SM) {
            margin-bottom: 28px;
        }
        @include Responsive(XS) {
            margin-bottom: 22px;
        }
    } @else if $margins == mb48 {
        margin-bottom: 48px;
        @include Responsive(X15) {
            margin-bottom: 44px;
        }
        @include Responsive(X13) {
            margin-bottom: 40px;
        }
        @include Responsive(LG) {
            margin-bottom: 38px;
        }
        @include Responsive(MD) {
            margin-bottom: 34px;
        }
        @include Responsive(SM) {
            margin-bottom: 32px;
        }
        @include Responsive(XS) {
            margin-bottom: 30px;
        }
    } @else if $margins == mb80 {
        margin-bottom: 80px;
        @include Responsive(X17) {
            margin-bottom: 80px;
        }
        @include Responsive(X15) {
            margin-bottom: 75px;
        }
        @include Responsive(X13) {
            margin-bottom: 70px;
        }
        @include Responsive(MD) {
            margin-bottom: 60px;
        }
        @include Responsive(SM) {
            margin-bottom: 50px;
        }
        @include Responsive(XS) {
            margin-bottom: 40px;
        }
    }
}

@mixin font_18 {
    font-size: 18px;

    @include Responsive(SM) {
        font-size: 16px;
    }
}

@mixin font_22 {
    font-size: 22px;

    @include Responsive(XS) {
        font-size: 18px;
    }
    @include Responsive(XL) {
        font-size: 20px;
    }
    @include Responsive(XXL) {
        font-size: 22px;
    }
}

@mixin font_24 {
    font-size: 24px;

    @include Responsive(XS) {
        font-size: 20px;
    }
    @include Responsive(SM) {
        font-size: 20px;
    }
    @include Responsive(XL) {
        font-size: 22px;
    }
    @include Responsive(XXL) {
        font-size: 24px;
    }
}

@mixin font_34 {
    font-size: 34px;

    @include Responsive(XS) {
        font-size: 24px;
    }
    @include Responsive(SM) {
        font-size: 26px;
    }
    @include Responsive(LG) {
        font-size: 28px;
    }
    @include Responsive(XL) {
        font-size: 32px;
    }
    @include Responsive(XXL) {
        font-size: 34px;
    }
}

@mixin font_48 {
    font-size: 48px;

    @include Responsive(XL) {
        font-size: 36px;
    }
    @include Responsive(XXL) {
        font-size: 30px;
    }
    @include Responsive(LG) {
        font-size: 26;
    }
    @include Responsive(SM) {
        font-size: 24px;
    }
}

@mixin font_60 {
    font-size: 60px;

    @include Responsive(XS) {
        font-size: 40px;
    }
    @include Responsive(SM) {
        font-size: 42px;
    }
    @include Responsive(MD) {
        font-size: 45px;
    }
    @include Responsive(LG) {
        font-size: 48px;
    }
    @include Responsive(XL) {
        font-size: 50px;
    }
    @include Responsive(XXL) {
        font-size: 55px;
    }
    @include Responsive(X17) {
        font-size: 60px;
    }
}

@mixin font_64 {
    font-size: 64px;

    @include Responsive(XL) {
        font-size: 50px;
    }
    @include Responsive(XXL) {
        font-size: 44px;
    }

    @include Responsive(LG) {
        font-size: 40px;
    }
    @include Responsive(MD) {
        font-size: 32px;
    }
    @include Responsive(SM) {
        font-size: 24px;
    }
}

@mixin font_72 {
    font-size: 72px;

    @include Responsive(XL) {
        font-size: 48px;
    }
    @include Responsive(XXL) {
        font-size: 40px;
    }
    @include Responsive(LG) {
        font-size: 36px;
    }
    @include Responsive(SM) {
        font-size: 24px;
    }
}
